* {
  padding: 0px;
  margin: 0px;
}
body{
  background-image: url("image/map.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  
}

img {
  float: right;
  height: auto;
  width: auto;
  filter: drop-shadow(5px 5px 5px gray);
}

#heading {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 50px;
  font-size: 60px;
}
#line {
  border-left: 5px solid white;
  height: 210px;
  margin: 0px 50px;
  margin-top: 50px;
}
#para {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 40px;
}
h3,
h5 {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
}
#container {
  display: flex;
  margin-top: 180px;
  justify-content: space-evenly;
}
.items img {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
  filter: invert(100%);
}
h5 {
  font-size: 20px;
  margin: 5px -48px;
  margin-top: 165px;
}
/*   div img.logo{
position:absolute;
left: 95%;
border-radius: 50%;
} */
ul{
display:inline-flex;
background-color:rgb(0 112 188);
list-style: none;
color: white;
font-weight: bold;
width: 100%;
border-radius: 2%;
/* position:fixed; */
}
li{
padding: 15px;
margin: 2px;
}
ul.nav-bar a{
color: white;
font-family: cursive;
text-decoration: none;
font-weight: bold;
font-size: 20px;
}


.dipart{
color: white;
font-family: cursive;
text-decoration: none;
font-weight: bold;
font-size: 20px;
}
.dipart:hover{
color: #18e2e3;
font-family: cursive;
font-weight: bold;
color: white;
text-shadow: 0px 0px 30px rgb(0, 4, 255);
font-size: 25px;

}
.dipart:hover .sub-list{
display: block;
position:absolute;
padding: 1px;
margin: 0;

}
.dipart:hover .sub-list ul{
display: block;
background-color: rgb(0 112 188);
}
.dipart:hover .sub-list ul li{
width: 150px;
background-position: center;
padding: 10px;
border-bottom: 1px dotted white;
background: transparent;
text-align: left;
}
.dipart:hover .sub-list ul li:last-child{
border-bottom: none;

}
.dipart:hover .sub-list ul li:hover{
color: rgb(3, 7, 255);
}
div img.logo{
position:absolute;
left: 95%;
border-radius: 50%;
}

ul li div.sub-list{
display: none;
}
.dipart:hover h1.welcome{
display: none;
}
ul.nav-bar a:hover{
color: #18e2e3;
}
/* div.homepage img{
height: 230px;
width: 230px;
margin: 30px;

} */
